html {
  background-color: #282a36;
}

.center
{
    left: 50%;
    position: absolute;
    top: 50%;
}

.center div
{
    margin-left: -50%;
    margin-top: -50%;
    height: 100px;
    width: 100px;
}