html {
   /*background-color: #292B36; */
	/* this is where I actually want to be */  
  /* background-color: rgb(41,43,54); */
  
   background-color: #24262F; 
   /*background-color: rgb(36,38,47); */
}

.center
{
    left: 50%;
    position: absolute;
    top: 50%;
}

.center div
{
    margin-left: -50%;
    margin-top: -50%;
    height: 100px;
    width: 100px;
}